Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Brennan Ruby

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives

Objectives:

+ List popular data science languages
+ List popular data science tools
+ Introductory code for simple arithmetic
+ Simple markdown syntax overview

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. python
2. R
3. SQL

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. ggplot

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|VS Code|
|GitHub|
|ChatGPT/AI|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
#This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print(x)

17

Exercise 9 - Create a code cell to convert minutes to hours

In [6]:
#This will convert 200 minutes to hours by diving by 60
t = 200 / 60

print(f"{t} hours")

3.3333333333333335 hours